.center {
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
}
.lable_class {
  margin: auto;
  width: 50%;
  padding: 10px;
}
.parameter_class {
	margin-bottom: 50px;
	position: relative;
}